*       {
    margin: 0;
}

.custom-header {
    background-color: #22646E;
    padding: 10px 0;
}

#Alupa     {
    position: relative;
    left: 40px;
    top: 8px;
    height: 25px;
    z-index: 4;
}

.navbar-brand img {
    margin-left: 50px;
    height: 100px;
}

.nav-link {
    margin-left: 90px;
    font-size: 25px;
    color: #a5a5a5;
}

.search-form {
    width: 40%;
}

.search-input {
    border-radius: 20px;
    border: 2px solid #094797;
    padding: 5px 20px;
}

.btn-profile {
    background: none;
    border: none;
    padding-right: 30px;
    cursor: pointer;
}

.btn-profile img {
    border-radius: 50%;
}

button  {
    background-color: transparent;
    border: 0;
}
/*------------------------------------------------*/


.footer-container {
    padding: 50px;
    background-color: #002535;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p       {
    color: white;
}
.footer-right {
    display: flex;
    align-items: center;
    gap: 30px; /* Espacio entre los elementos */
}

.footer-link {
    text-decoration: none;
    color: #000;
}

.footer-link img {
    height: 40px; /* Ajusta el tamaño de los íconos */
    vertical-align: middle;
}
