footer {
    background-color: #0A2A4A;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#TituloFooter   {
    font-size: 100%;
}
.footer-contact {
    text-align: left;
    max-width: 300px;
}

.footer-numbers {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.number {
    text-align: center;
    font-size: 18px;
}

.number span {
    font-size: 24px;
    font-weight: bold;
}

.footer-contact-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contact-button button {
    background-color: #1E3B5A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.footer-contact-button .social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
}

.footer-bottom img {
    height: 100px;
}
