*   {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header  {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
}
.custom-navbar {
    background-color: #bfd2d9; /* Color del header */
}

.navbar-toggler {
    border: none;
    background: none;
}
Pagina\Img\Header\IconoMenu.png
.navbar-toggler-icon {
    background-image: url('Pagina\Img\Header\IconoMenu.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.navbar-brand img {
    height: 80px;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* Evita que los elementos se muevan a la siguiente línea */
}

.input-group {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos dentro del input-group */
    width: 70%;
    overflow: visible;
    border-radius: 20px;
    flex-wrap: nowrap; /* Evita que los elementos se muevan a la siguiente línea */
}

.relative-container {
    position: relative;
    width: 100%;
}

.search-input {
    padding-left: 40px; /* Ajusta según sea necesario */
    border-radius: 20px;
    border: 6px solid #094797;
    height: 40px; /* Ajusta según sea necesario */
}

.input-group-text {
    position: absolute;
    left: 10px; /* Ajusta según sea necesario */
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    z-index: 1;
}

.btn-transparent {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.btn-transparent img {
    height: 40px;
    margin-left: 5px; /* Mueve la imagen a la derecha del texto */
}
/* Botones Navbar */
.BotonesNavbar {
    display: flex;
    justify-content: space-between; /* Distribuir los botones uniformemente */
    background-color: #003851; /* Color de fondo de la barra */
    padding: 10px 50px; /* Ajusta el padding a tu gusto */
}

.BotonesNavbar button {
    background-color: #003851; /* Color del botón */
    color: white; /* Texto blanco */
    border: none; /* Quita los bordes */
    padding: 10px 20px; /* Ajusta el tamaño del botón */
    cursor: pointer;
    font-size: 16px; /* Tamaño de la fuente */
}


.BotonesNavbar a {
    color: white; /* Mantén el texto del link blanco */
    text-decoration: none; /* Quitar el subrayado del enlace */
}

.BotonesNavbar button a {
    display: block;
    width: 100%; /* Hacer que el link ocupe todo el botón */
    height: 100%;
    text-align: center; /* Centrar el texto en el botón */
}


@media (max-width: 992px) {
    .search-form {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: nowrap; /* Asegura que los elementos se mantengan en una línea */
    }

    .navbar-collapse {
        display: flex;
        flex-direction: row; /* Cambia la dirección del contenido colapsado a una fila */
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap; /* Evita que los elementos se muevan a la siguiente línea */
    }

    .input-group {
        width: 70%;
        margin-bottom: 0;
        flex-wrap: nowrap; /* Evita que los elementos se muevan a la siguiente línea */
    }

    .navbar-nav {
        display: flex;
        align-items: center;
    }

    .btn-transparent {
        margin-bottom: 20px;
        margin-left: 10px; /* Ajusta el espaciado en dispositivos pequeños */
    }
}
