/* Corrección del input de búsqueda */
.input-group-text {
    background: transparent;
    border: none;
    padding-right: 5px; /* Ajuste del espacio para la lupa */
}

.search-input {
    border-radius: 20px;
    border: 3px solid #094797;
    padding-left: 10px; /* Ajuste del padding a la izquierda */
    height: 40px; /* Ajusta la altura */
    background: white;
    width: 100%; /* Ocupa todo el ancho */
}

/* Ajuste del tamaño de la imagen dentro del input */
.input-group-text img {
    width: 20px;
    height: 20px;
}

@media (max-width: 992px) {
    .search-form {
        width: 100%;
        margin-bottom: 1rem;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-group {
        width: 80%;
        margin-bottom: 1rem;
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* Centrado del botón INGRESAR */
    .btn-transparent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    hr {
        border: 0;
        border-top: 1px solid #094797;
        width: 80%;
        margin: 1rem auto;
    }
}
