*   {
    margin: 0;
}
header  {
    background-color: #BFD2D9;
    height: 120px;
    padding: 0;
}

.ImagenBoton    {
    /* Estilo del botón */
    background: none; /* Elimina el fondo del botón */
    border: none;     /* Elimina los bordes del botón */
    padding: 0;       /* Elimina el padding por defecto */
    cursor: pointer;  /* Cambia el cursor a una mano cuando se pasa sobre el botón */
    display: inline-flex; /* Ajusta el tamaño del botón al tamaño de la imagen */
}

/* Estilo de la imagen dentro del botón */
.ImagenBoton img {
    display: block;   /* Elimina el espacio blanco debajo de la imagen */
    width: 100%;      /* Ajusta la imagen al tamaño del botón */
    height: 100px;     /* Mantiene la proporción de la imagen */
}

.container-fluid{
    padding: 0;
    background-color: #BFD2D9;
    width: 100%;
    height: 100%;
}

.navbar navbar-expand-lg bg-body-tertiary   {

    padding-top: 0px;
    padding-bottom: 0px;
}